.list-group-item {
  line-height: 2.5;
}

.homeBackground {
  background-color: black;
  background-image: url("../Images/5Ged07h.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.welcome {
  text-align: center;
  color:black;
  font-size: 72px;
  -webkit-text-fill-color: black; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: 'Shojumaru', cursive;
}

.indexDescription{
  margin-top: 8%;
}

.cardinfo {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border: 5px;
  border-color: white;
  margin: 10px;
}
body {
  color: white;
}


.cardscene{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.plansForRepsonse{
  margin: 15px;
}

#writePlanButton {
  background-color: #303e3a;
  color: #ede8c2;
  border-width: 2px;
  border: #ede8c2;
  /* margin-bottom: 2%; */
}

#writePlanButton:hover {
  background-color: #303e3a;
  color: #ede8c2;
  border-width: 2px;
  border: #ede8c2
}

.scenarioButton {
  background-color: #ede8c2;
  color: #303e3a;
  border-width: 2px;
  border: #303e3a;
  float: right;
}

.deleteButton {
  background-color: red;
  color: white;
  border-width: 2px;
  border: #303e3a;
  float: right;

}

.editButton {
  background-color: #ede8c2;
  color: #303e3a;
  border-width: 2px;
  border: #303e3a;
  float: right;
}

.scenarioButton:hover {
  background-color: #303e3a;
  color: #ede8c2;
  border-width: 2px;
  border: #ede8c2;
}

.deleteButton:hover {
  background-color: white;
  color: red;
  border-width: 2px;
  border: #ede8c2;
}

.editButton:hover {
  background-color: #303e3a;
  color: #ede8c2;
  border-width: 2px;
  border: #ede8c2;
}

.searchButton {
  background-color: #ede8c2;
  color: #303e3a;
  border-width: 2px;
  border: #303e3a;
}

.searchButton:hover{
  background-color: whitesmoke;
  color: #303e3a;
  border-width: 2px;
  border: #303e3a;
}

.submitPlanButton{
  background-color: #ede8c2;
  color: #303e3a;
  border-width: 2px;
  border: #303e3a
}

.submitPlanButton:hover{
  background-color: #303e3a;
  color: #ede8c2;
  border-width: 2px;
  border: #ede8c2
}

.cardinfo{
  padding: 2%;
  animation-delay: 0.5s;
}

.searchBar{
  margin-right: 7%;
}

.nav-link{
  font-size:16px !important;
}
/* smoke attempt 2 */
/* .smoke{ 
  z-index: 3;
  width: 1px; 
  height: 160px; 
  bottom: 30px;
}
.smoke span { 
  display: block;
  bottom: 0px; 
  height: 0px; 
  width: 0px;
	border: 35px solid #4b4b4b;
	border-radius: 35px;
  opacity: 0;
	transform: scale(0.2);
}
@keyframes smokeL {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(-20px, -130px) }
}

@keyframes smokeR {
	0%   { transform: scale(0.2) translate(0, 0) }
	10%  { opacity: 1; transform: scale(0.2) translate(0, -5px) }
	100% { opacity: 0; transform: scale(1) translate(20px, -130px) }
}

.smoke .s0 { animation: smokeL 10s 0s infinite }
.smoke .s1 { animation: smokeR 10s 1s infinite }
.smoke .s2 { animation: smokeL 10s 2s infinite }
.smoke .s3 { animation: smokeR 10s 3s infinite }
.smoke .s4 { animation: smokeL 10s 4s infinite }
.smoke .s5 { animation: smokeR 10s 5s infinite }
.smoke .s6 { animation: smokeL 10s 6s infinite }
.smoke .s7 { animation: smokeR 10s 7s infinite }
.smoke .s8 { animation: smokeL 10s 8s infinite }
.smoke .s9 { animation: smokeR 10s 9s infinite } */

/* .smoke{ smoke 1st attempt
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
  width: 100%;
  height: 10%;
  position: fixed;
  bottom: 0;
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotateY(90deg);
  }
  100%{
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0)
  }
}
video {
  height: 100%;
  width: 100%;
  object-fit: fill;
} */